<div class="right col-md-8">
  <div class="board">
    <div class="content">
     <h1>
       About :  
      </h1>
      <br><br>
      <h4>Email me at :<a >karthik.murugesan@outlook.in</a></h4>
      <h4><a href="https://www.hackerrank.com/KarthikMuru">Hackerrank</a></h4>
      <h4><a href="http://codeforces.com/profile/karthikmuru">Codeforces</a></h4>
      <h4><a href="https://www.codechef.com/users/karthik28">Codechef</a></h4>
    </div>
  </div>    
</div>