<div class="right col-md-8">
  <div class="board">
    <div class="content">
     <h1>
       Hello World! 
      </h1>
      <p>
        Welcome to my blog.This is Karthik.
      </p>
    </div>
  </div>    
</div>