<link rel="stylesheet" type="text/css"  href="../css/styles.css">
<div class="right col-md-8">
  <div class="board">
    <div class="content">
      <div class="title-head">
         <h1><%= data.title %></h1>
         <h4><%= data.subtitle %></h4>
      </div>
      <br><br>
      <%- data.content %>
    </div>
  </div>    
</div>