<link rel="stylesheet" type="text/css"  href="../css/styles.css">
<div class="right col-md-8">
  <div class="board">
    <div class="content"> 
      <form method="post">
        <h4 class="">Title :</h4>
        <input class="inputs form-control" name="title" type="text" value="<%=data.title %>" required>
        <h4 class="">Sub-Title :</h4>
        <input class="inputs form-control" name="subtitle" type="text" value="<%=data.subtitle %>" required>
        <h4 class="">Content :</h4>
        <textarea class="inputs form-control" name="content" type="text" rows="10"  required><%=data.content %></textarea>
        <h4 class="">Tags :</h4>
        <input class="inputs form-control" name="tags" type="text" value="<%=data.tags %>" required>
        <input class="inputs btn btn-primary" name="submit" type="submit">
      </form>
    </div>
  </div>
</div>