<div class="right col-md-8">
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>
          <p>RIGHT</p>      
</div>